{% extends 'base.html' %}
{% set active_page = 'home' %}

{% block head %}
<title>Home – Kaleb Humpal</title>
{% endblock %}


{% block body %}
<section id="home__header" class="section section--odd">
	<h1 id="home__header__title" class="section__header__title">Kaleb Humpal</h1>
	<h2 id="home__header__subtitle">Software Developer</h2>
	<p id="home__header__description" class="section__header__description">I am a self taught programmer, with a few University/Online courses under my belt. </br>I prefer to learn by doing things myself. I am always eager to grow my knowledge of anything related to computer science.</p>
	<div class="btn-container btn-container--home">
		<button class="prompt-btn prompt-btn--home" onclick="window.location.href='/about'">
			<span>
				Learn More
				<i class="fa fa-long-arrow-right m-l-7" aria-hidden="true"></i>
			</span>
		</button>
	</div>
</section>

<!-- Three columns of text below the carousel -->
<section id="home__cards" class="section home-row">
	<div class="card card--home col-lg-4 accent-color-shadow-hover">
		<svg id="portfolio-thumbnail" 
			class="bd-placeholder-img card--home__image"
			width="140" 
			height="140" 
			xmlns="http://www.w3.org/2000/svg" 
			role="img" aria-label="Placeholder: 140x140" 
			preserveAspectRatio="xMidYMid slice" 
			focusable="false">
			<title>Portfolio</title>
		</svg>
		<div class="home-card-text  card__body">
			<h2 class="home-card-h2  card__header">My Portfolio</h2>
			<p class="card__text">I love bringing my ideas to life and seeing them grow and become what I imagined. Get an idea of what I can do by seeing some of the projects I created myself and helped create here.</p>
			<div class="btn-container btn-container--home">
				<button class="prompt-btn prompt-btn--home" onclick="window.location.href='/projects'">
					<span>
						See My Works
						<i class="fa fa-long-arrow-right m-l-7" aria-hidden="true"></i>
					</span>
				</button>
			</div>
		</div>
	</div><!-- /.col-lg-4 -->

	<div class="card card--home col-lg-4 accent-color-shadow-hover">
		<svg id="blog-thumbnail" 
			class="bd-placeholder-img card--home__image" 
			width="140" 
			height="140" 
			xmlns="http://www.w3.org/2000/svg" 
			role="img" 
			aria-label="Placeholder: 140x140" 
			preserveAspectRatio="xMidYMid slice" 
			focusable="false">
			<title>Blog</title>
		</svg>
		<div class="home-card-text card__body">
			<h2 class="home-card-h2 card__header">My Blog</h2>
			<p class="card__text">My curiosities cover nearly the entire field of computer science, whether it be coding, software development, cyber security, networking, or web development. I desire to learn daily and grow my skills and knowledge in what I enjoy. Follow my blog to know more about what I create, learn, and much more!</p>
			<div class="btn-container btn-container--home">
				<button class="prompt-btn prompt-btn--home" onclick="window.location.href='/blog'">
					<span>
						View Blog Posts
						<i class="fa fa-long-arrow-right m-l-7" aria-hidden="true"></i>
					</span>
				</button>
			</div>
		</div>
	</div><!-- /.col-lg-4 -->

	<div class="card card--home col-lg-4 home-card accent-color-shadow-hover">
		<svg id="contact-thumbnail" 
			class="bd-placeholder-img card--home__image" 
			width="140" 
			height="140" 
			xmlns="http://www.w3.org/2000/svg" 
			role="img" 
			aria-label="Placeholder: 140x140" 
			preserveAspectRatio="xMidYMid slice" 
			focusable="false">
			<title>Placeholder</title>
		</svg>
		<div class="home-card-text card__body">
			<h2 class="home-card-h2 card__header">Have An Idea?</h2>
			<p class="card__text">Do you have an idea for a project? Do you need a web design brought to life? Need a script made for some automation? Need help with building a piece of software? </p>
			<div class="btn-container btn-container--home">
				<button class="prompt-btn prompt-btn--home" data-target="#modalContact" onclick="document.getElementById('modalContact').style.display='block'" type="button" data-toggle="modal">
					<span>
						Contact Me!
						<i class="fa fa-long-arrow-right m-l-7" aria-hidden="true"></i>
					</span>
				</button>
			</div>
		</div><!-- /.col-lg-4 -->
	</div>
</section><!-- /.row -->
{% endblock %}