{% extends 'base.html' %}

{% block head %}
<title>Home</title>
{% endblock %}


{% block body %}
	<h1>Kaleb Humpal</h1>
	<h2>Software Devoloper</h2> 
	    <p class="lead">I am a self taught programmer, with a few University/Online courses under my belt. I prefer to learn by doing things myself. I am always eager to grow my knowledge of anything related to computer science.</p>
	    <p class="lead">
	      <a href="#" class="btn btn-lg btn-secondary fw-bold">Learn More</a>
	    </p>
{% endblock %}