{% extends 'base.html' %}
{% set active_page = 'contact' %}

{% block head %}
<title>Contact – Kaleb Humpal</title>
<link rel="stylesheet" href="../../static/css/main.css?v=1.2.19">
{% endblock %}

{% block body %}

<hr>
<h2>CONTACT PAGE IS UNDER CONSTRUCTION! </h2>

<hr>
<h3>Contact Me Later!</h3>


<button onclick="document.getElementById('modalContact').style.display='block'" type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#modalContact">Open Modal</button>

<!-- Modal -->
<div class="modal position-static" tabindex="-1" role="dialog" id="modalContact" style="display: none;">
  <div class="modal-dialog" role="document">
    <div class="modal-content rounded-5 shadow">
      <div class="modal-header p-5 pb-4 border-bottom-0">
        <h2 class="fw-bold mb-0">Send Me A Message</h2>
        <button onclick="document.getElementById('modalContact').style.display='none'" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
	    <div class="row justify-content-center">
		<div class="col-lg-10">
			<div class="wrapper">
				<div class="row no-gutters">
					<div class="col-md-6 d-flex align-items-stretch">
						<div class="contact-wrap w-100 p-md-5 p-4 py-5">
							<h3 class="mb-4"></h3>
							<div id="form-message-warning" class="mb-4"></div>
							<div id="form-message-success" class="mb-4">Your message was sent, thank you!</div>
							<form method="POST" id="contactForm" name="contactForm" class="contactForm">
								<div class="row">
									<div class="col-md-12">
										<div class="form-group">
											<input type="text" class="form-control" name="name" id="name" placeholder="Name">
										</div>
									</div>
									<div class="col-md-12">
										<div class="form-group">
											<input type="email" class="form-control" name="email" id="email" placeholder="Email">
										</div>
									</div>
									<div class="col-md-12">
										<div class="form-group">
											<input type="text" class="form-control" name="subject" id="subject" placeholder="Subject">
										</div>
									</div>
									<div class="col-md-12">
										<div class="form-group">
											<textarea name="message" class="form-control" id="message" cols="30" rows="6" placeholder="Message"></textarea>
										</div>
									</div>
									<div class="col-md-12">
										<div class="form-group">
											<input type="submit" value="Send Message" class="btn btn-primary">
										<div class="submitting"></div>
										</div>
									</div>
								</div>
							</form>
						</div>
					</div>
					<div class="col-md-6 d-flex align-items-stretch">
						<div class="info-wrap w-100 p-md-5 p-4 py-5 img">
							<h3>Contact information</h3>
							<p class="mb-4">I'm open for any suggestion or any project you may want to collaborate on.</p>
							<div class="dbox w-100 d-flex align-items-start">
								<div class="icon d-flex align-items-center justify-content-center">
									<span class="fa fa-map-marker"></span>
								</div>
								<div class="text pl-3">
									<p><span>Current Location:</span> Beirut, Lebanon</p>
								</div>
							</div>
							<div class="dbox w-100 d-flex align-items-center">
								<div class="icon d-flex align-items-center justify-content-center">
									<span class="fa fa-phone"></span>
								</div>
								<div class="text pl-3">
									<p><span>Phone/Whatsapp:</span> <a href="tel://1234567920">*Phone Number Here*</a></p>
								</div>
							</div>
							<div class="dbox w-100 d-flex align-items-center">
								<div class="icon d-flex align-items-center justify-content-center">
									<span class="fa fa-paper-plane"></span>
								</div>
								<div class="text pl-3">
									<p><span>Email:</span> <a href="/cdn-cgi/l/email-protection#a8c1c6cec7e8d1c7dddadbc1dccd86cbc7c5"><span class="__cf_email__" data-cfemail="d9b0b7bfb699a0b6acabaab0adbcf7bab6b4">[email&nbsp;protected]</span></a></p>
								</div>
							</div>
							<div class="dbox w-100 d-flex align-items-center">
								<div class="icon d-flex align-items-center justify-content-center">
									<span class="fa fa-globe"></span>
								</div>
								<div class="text pl-3">
									<p><span>Website</span> <a href="#">*Website URL Here*</a></p>
								</div>
							</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>   
  	</div>
  </div>
</div>

<!-- MODAL SCRIPT -->
<script src="/docs/5.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>


{% endblock %}