{% extends 'base.html' %}
{% set active_page = 'blog' %}

{% block head %}
<title>Blog – Kaleb Humpal</title>
<link rel="stylesheet" href="../../static/css/main.css?v=1.2.35">
{% endblock %}

{% block logoText %}/blog/{% endblock %}

{% block body %}
<section id="blog" class="section section--odd posts">
	<div class="section__header">
		<h1 class="section__header__title">Blog</h1>
		<p class="section__header__description"></p>
	</div>
	{% for year in staticPosts %}
		<div class="posts-group">
			<div class="post-year">{{ year }}</div>
			<ul class="posts-list">
				{% for post in staticPosts[year] %}
					<li class="post-item">
						<a href="/blog/{{ year }}/{{ staticPosts[year].index(post) }}" class="hvr-grow">
							<span class="post-title">{{ post['title'] }}</span>
							<span class="post-day">{{ post['date_created'][1] + ' ' + post['date_created'][2] }}
						</a>
					</li>
				{% endfor %}
			</ul>
		</div>
	{% endfor %}
</section>

{% endblock %}