.btn-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: inherit;
	
  &--home {
    width: 100%;
  }

  &--about {
    justify-content: left;
  }

  &--contact {

  }
}