.yearline {
	width: 100%;
	list-style: none;
	text-align: justify;
	margin-top: 20px;

	&:before {
		display: inline-block;
		content: attr(title);
		font-size: 15px;
		position: absolute;
		transform: translateX(-35px);
	}

	&:after {
		display: inline-block;
		content: "";
		width: 100%;
	}

	li {
		display: inline-block;
		width: 3px;
		height: 10px;
		background: #acabb1;
		text-align: center;
		position: relative;

		&:before {
			display: inline-block;
			content: attr(data-years);
			position: absolute;
			transform: translateX(-50%);
			bottom: -2.25rem;
		}
	}
}

.year-half {
	transform: translateX(-1300%) translateY(-3px);
	height: 3px!important;
}