/// Can break each variable-type into a separate SCSS file and can import them into '_all.scss'


//*========== Colors ==========*


  // Accent Colors
  $ruby-amaranth: #E8175D; // Color of blinking cursor and some hover effects
  $dark-ruby-amaranth: #d01d57;
  $mystic-mulberry: #CC527A; // Used on hovering over each blog post and each item on the experience timeline

  // Opaque Colors
  $common-opaque: #00000040;

  // Grays
  $paragraph-grey: #e4e4e4;
  $dark-gunmetal-shark: #212529; // Gray for the background of the body
  $gunmetal-shark: #2c3033; // Gray for the background of the sections
  $pale-lavender-fog: #d7d5ff; // White/purple shade for the hover box shadow on sections
  $pale-sky: #6c757d; // For navlinks and btn-secondary

  // Not Sure Yet
  $rusty-red-punch: #dc3545; // Still considering if this should be used
  $silver-spun-pearl: #acabb1;

//*========== Font-Size ==========*

  $large-heading: 2.625rem;
  $medium-heading: 1.625rem;
  $small-heading: 0.625rem;

//*========== Screen Break-Points ==========*
  $smartphone: 360px;
  $tablet: 768px;
  $desktop: 1024px;