#blogPost {
	text-align: left;

	h1, h2, h3, h4, h5, h6 {
		// font-weight: 600;
	}
}

p img + blockquote {
	margin: -2rem 1.5rem 1rem;
}

blockquote {
	background: $common-opaque;
	font-size: smaller;
	// margin: -2rem 1.5rem 1rem;
	padding-left: 3rem;
	border-left: 5px solid $ruby-amaranth;

	p {
		margin-left: none;
	}
}

pre {
	background: $common-opaque;
	margin-bottom: 3rem;
}

img {
	margin-bottom: 2rem;
}

code {
	color: $ruby-amaranth;
	font-size: 1em;
}