/*
 *========== Home ==========*
 */
 #home {
  &__header {
    // max-width: 80em;
    // display: flex;
    justify-content: space-evenly;

    &__title {
      margin-bottom: 2rem;
    }

    &__subtitle {
      margin-top: 1rem;
      margin-bottom: 1.5rem;
      border-bottom: none;
    }

    &__description {
      width: 50%;
      margin: auto;
      margin-bottom: 1rem;
    }

  }

  &__cards {
    display: flex;
    justify-content: space-evenly;
  }
 }

 .home-prompts {
 	display: flex;
 }

 .prompt {
 	flex: 1;
 }

/* 
 *========== Home Option Cards ==========*
 */
 #blog-thumbnail {
 	background-image: url("../../static/img/blogging-writer.svg");
 	background-size: cover;
 	background-position-x: center;
 }

 #portfolio-thumbnail {
 	background-image: url("../../static/img/portfolio.svg");
 	background-size: cover;
 	background-position-x: center;
 }

 #contact-thumbnail {
 	background-image: url("../../static/img/message-mail.svg");
 	background-size: contain;
 }

/* Responsive layout - makes the three columns stack 
on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
	.card--home {
		width: 100%;
	}

	#home__cards {
		flex-wrap: wrap;
	}
}