/*
 *========== Home ==========*
 */

 .home-header {
 	margin-bottom: 1rem;
 }

 .home-header-secondary {
 	margin-bottom: 2rem;
 }

 .home-prompts {
 	display: flex;
 }

 .prompt {
 	flex: 1;
 }

/* 
 *========== Home Option Cards ==========*
 */
 #blog-thumbnail {
 	background-image: url("../../static/img/blogging-writer.svg");
 	background-size: cover;
 	background-position-x: center;
 }

 #portfolio-thumbnail {
 	background-image: url("../../static/img/portfolio.svg");
 	background-size: cover;
 	background-position-x: center;
 }

 #contact-thumbnail {
 	background-image: url("../../static/img/message-mail.svg");
 	background-size: contain;
 }

 .home-row {
 	max-width: 80em;
 	display: flex;
 	justify-content: space-evenly;
}

/* Responsive layout - makes the three columns stack 
on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
	.home-card {
		width: 100%;
	}
	.home-row {
		flex-wrap: wrap;
	}
}