<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="discription" content="">
	<meta name="author" content="Kaleb Humpal-- aka. Kaleblub, and Bootstrap contributors">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
	<style>
	.bd-placeholder-img {
		font-size: 1.125rem;
		text-anchor: middle;
		-webkit-user-select: none;
		-moz-user-select: none;
		user-select: none;
	}

	@media (min-width: 768px) {
		.bd-placeholder-img-lg {
			font-size: 3.5rem;
		}
	}
</style>

<!------------ Add Icon Library ------------>
<link href="../../static/fontawesome-free-5.15.4-web/css/all.css" rel="stylesheet">

{% block head %} {% endblock %}

<!------------ CUSTOM STYLES FOR THIS TEMPLATE ------------>
<link rel="stylesheet" href="../../static/css/main.css?v=1.2.15">
</head>


<body class="flex-column min-vh-100">
	<!------------- HEADER/NAVBAR ------------>
	<header class="navbar navbar-expand-lg">
		<div class="container-xl">
			<a class="logo-link" href="/">
				<div class="logo float-md-start mb-0 navbar-brand text-muted">
					<span class="logo__mark">
						<i class="fas fa-angle-right"></i>
					</span>
					<span class="logo__name">  /KalebHumpal/ $</span>
					<span class="logo__text"></span>
					<span class="logo__cursor"></span>
				</div>
			</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarOptions" aria-controls="navbarOptions" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarOptions">
				<nav class="nav nav-masthead">
					<a 
					class="nav-link {{ 'nav-link--active' if active_page == 'home' else 'text-muted' }}" 
					href="/">Home</a>
					<a 
					class="nav-link {{ 'nav-link--active' if active_page == 'about' else 'text-muted' }}" 
					href="/about">About</a>
					<a 
					class="nav-link {{ 'nav-link--active' if active_page == 'blog' else 'text-muted' }}" 
					href="/blog">Blog</a>
					<a 
					type="button"
					class="nav-link text-muted" 
					data-toggle="modal" 
					data-target="#modalContact"
					onclick="document.getElementById('modalContact').style.display='flex'"
					>Contact</a>
					<a 
					class="nav-link {{ 'nav-link--active' if active_page == 'projects' else 'text-muted' }}"  
					href="/projects">Projects</a>
				</nav>
			</div>
		</div>
	</header>

	<!-- Contact Modal -->
	<div class="modal" tabindex="-1" role="dialog" id="modalContact" style="display: none;">
		<div class="modal__content rounded-5">
			<div class="modal__content__header p-5 pb-4 border-bottom-0">
				<h2 class="fw-bold mb-0">Send Me A Message</h2>
				<div class="btn-container btn-container--contact">
					<button class="prompt-btn prompt-btn--contact" onclick="document.getElementById('modalContact').style.display='none'" type="button" data-bs-dismiss="modal" aria-label="Close"><i class="fas fa-times"></i></button>
				</div>
			</div>
			<div class="row justify-content-center">
				<div class="col-lg-10">
					<div class="row no-gutters">
						<div class="col-md-6 d-flex align-items-stretch">
							<div class="contact-wrap w-100 p-md-5 p-4 py-5">
								<h3 class="mb-4"></h3>
								<!-- <div id="form-message-warning" class="mb-4"></div>
								<div id="form-message-success" class="mb-4">Your message was sent, thank you!</div> -->
								<form method="POST" id="contact-form" name="contact-form" class="contact-form">
									<div class="form-group col-md-12">
										<input type="text" class="form-control" name="name" id="name" placeholder="Name">
                    <label for="" class="input__label">
                      <span class=""></span>
                    </label>
									</div>
									<div class="form-group col-md-12">
										<input type="email" class="form-control" name="email" id="email" placeholder="Email">
                    <label for="" class="input__label">
                      <span class=""></span>
                    </label>
									</div>
									<div class="form-group col-md-12">
										<input type="text" class="form-control" name="subject" id="subject" placeholder="Subject">
                    <label for="" class="input__label">
                      <span class=""></span>
                    </label>
									</div>
									<div class="form-group col-md-12">
										<textarea name="message" class="form-control" id="message" cols="30" rows="6" placeholder="Message"></textarea>
                    <label for="" class="input__label">
                      <span class=""></span>
                    </label>
									</div>
									<div class="form-group col-md-12">
										<div class="btn-container btn-container--contact">
											<button class="prompt-btn prompt-btn--contact" onclick="submit" type="submit">
												<span>
													Send Message
													<!-- <i class="fa fa-long-arrow-right m-l-7" aria-hidden="true"></i> -->
												</span>
											</button>
										</div>
										<!-- <div class="submitting"></div> -->
									</div>
								</form>
									</div>
								</div>
								<div class="col-md-6 d-flex align-items-stretch">
									<div class="info-wrap w-100 p-md-5 p-4 py-5">
										<h3>Contact information</h3>
										<p class="mb-4">I'm open for any suggestion or any project you may want to collaborate on.</p>
										<div class="dbox w-100 d-flex align-items-start">
											<div class="icon d-flex align-items-center justify-content-center">
												<span class="fa fa-map-marker"></span>
											</div>
											<div class="text pl-3">
												<p><span>Current Location:</span> Beirut, Lebanon</p>
											</div>
										</div>
										<div class="dbox w-100 d-flex align-items-center">
											<div class="icon d-flex align-items-center justify-content-center">
												<span class="fa fa-phone"></span>
											</div>
											<div class="text pl-3">
												<p><span>Phone/Whatsapp:</span> <a href="tel://1234567920">+1 909 454 6121</a></p>
											</div>
										</div>
										<div class="dbox w-100 d-flex align-items-center">
											<div class="icon d-flex align-items-center justify-content-center">
												<span class="fa fa-paper-plane"></span>
											</div>
											<div class="text pl-3">
												<p><span>Email:</span> <a href="/cdn-cgi/l/email-protection#a8c1c6cec7e8d1c7dddadbc1dccd86cbc7c5"><span class="__cf_email__" data-cfemail="d9b0b7bfb699a0b6acabaab0adbcf7bab6b4">[email&nbsp;protected]</span></a></p>
											</div>
										</div>
										<div class="dbox w-100 d-flex align-items-center">
											<div class="icon d-flex align-items-center justify-content-center">
												<span class="fa fa-globe"></span>
											</div>
											<div class="text pl-3">
												<p><span>Website</span> <a href="/">kaleblub.pythonanywhere.com</a></p>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>   
				</div>
			</div>


			<!------------ MAIN BLOCK OF THE BODY ------------>
			<main class="content flex-fill">
				{% block body %}
				{% endblock %}
			</main>


			<!------------ START OF THE FOOTER ------------>
			<footer class="footer py-3">
				<ul class="nav justify-content-center border-bottom pb-3 mb-3">
					<li class="nav-item"><a href="/" class="nav-link px-2 text-muted">Home</a></li>
					<li class="nav-item"><a href="/about" class="nav-link px-2 text-muted">About</a></li>
					<li class="nav-item"><a href="/blog" class="nav-link px-2 text-muted">Blog</a></li>
					<li class="nav-item"><a onclick="document.getElementById('modalContact').style.display='flex'" type="button" class="nav-link px-2 text-muted" data-toggle="modal" data-target="#modalContact">Contact</a></li>
					<li class="nav-item"><a href="/projects" class="nav-link px-2 text-muted">Projects</a></li>
				</ul>
				<p class="text-center text-muted">&copy; 2021 Made by <a href="https://github.com/kaleblub/kaleblub.github.io" class="text-muted">Kaleb Humpal</a> - Powered by <a href="#" class="text-muted">Flask</a></p>
			</footer>

			<!------------ JAVASCRIPT ------------>
			<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
		</body>
		</html>