<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="discription" content="My portfolio site, holding information about me, my blog where I post new things I learn or projects that I work on, and past projects that I think show important skills that I learned while building.">
	<meta name="author" content="Kaleb Humpal-- aka. Kaleblub">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">

{% block head %} {% endblock %}

<!------------ Add Icon Library ------------>
<link rel="icon" type="image/x-icon" href="../../static/icons/KHlogo.ico">
<link href="../../static/fontawesome-free-5.15.4-web/css/all.css" rel="stylesheet">

<!------------ CUSTOM STYLES FOR THIS TEMPLATE ------------>
<link rel="stylesheet" href="../../static/css/main.css?v=1.2.35">
</head>

<!------------- BODY START ------------>
<body class="flex-column min-vh-100">
	<!------------- NAVBAR ------------>
	<!-- {% include 'navigationbar.html' %} -->
	<!-- Will use static way of changing the logo text until
		dynamic way is discovered. Q: Can I Put The Header Snippet In Its Own File And Still Change The Text Of The Logo? -->
	<nav class="navbar navbar-expand-lg">
	<div class="container-xl">
		<a class="logo-link" href="/">
			<div class="logo float-md-start mb-0 navbar-brand text-muted">
				<span class="logo__mark">
					<i class="fas fa-angle-right"></i>
				</span>
				<span class="logo__name" style="font-family: monospace"> [KH]~{% block logoText %}{% endblock %} $ </span>
				<span id="typedText" class="logo__text"></span>
				<span class="logo__cursor"></span>
			</div>
		</a>
		<!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarOptions" aria-controls="navbarOptions" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button> -->

		      <!-- Hamburger icon -->
      <input class="side-menu" type="checkbox" id="side-menu"/>
      <label class="hamb" for="side-menu"><span class="hamb-line"></span></label>
		<!-- <div class="collapse navbar-collapse" id="navbarOptions"> -->
		<ul class="menu nav nav-masthead">
			<li><a 
			class="nav-link {{ 'nav-link--active' if active_page == 'home' else 'text-muted' }}" 
			href="/">Home</a></li>
			<li><a 
			class="nav-link {{ 'nav-link--active' if active_page == 'about' else 'text-muted' }}" 
			href="/about">About</a></li>
			<li><a 
			class="nav-link {{ 'nav-link--active' if active_page == 'blog' else 'text-muted' }}" 
			href="/blog">Blog</a></li>
			<li><a 
			type="button"
			class="nav-link text-muted" 
			data-toggle="modal" 
			data-target="#modalContact"
			onclick="document.getElementById('modalContact').style.display='flex'"
			>Contact</a></li>
			<li><a 
			class="nav-link {{ 'nav-link--active' if active_page == 'projects' else 'text-muted' }}"  
			href="/projects">Projects</a></li>
		</nav>
	</div>
</nav>
	<!------------- CONTACT MODAL ------------>
	{% include 'contactModal.html' %}

	<!------------ MAIN BLOCK OF THE BODY ------------>
	<main class="content flex-fill">
		{% block body %}
	
		{% endblock %}
	</main>
	<!------------ START OF THE FOOTER ------------>
	{% include 'footer.html' %}

	<!------------ JAVASCRIPT ------------>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
	<script src="../../static/js/typedLogoText.js"></script>
</body>
</html>