<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="discription" content="">
  <meta name="author" content="Kaleb Humpal-- aka. Kaleblub, and Bootstrap contributors">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
  <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>

  <!-- <link rel="canonical" href="https://getbootstrap.com/docs/5.1/examples/cover/">
  <link rel="canonical" href="https://getbootstrap.com/docs/5.1/examples/album/">
  <link rel="canonical" href="https://getbootstrap.com/docs/5.1/examples/footers/">
 -->
<!------------ BOOTSTRAP CORE CSS ------------>  
  <link href="/docs/5.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">

<!------------ Add Icon Library ------------>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<!------------ FAVICONS ------------>
  <link rel="apple-touch-icon" href="/docs/5.1/assets/img/favicons/apple-touch-icon.png" sizes="180x180">
  <link rel="icon" href="/docs/5.1/assets/img/favicons/favicon-32x32.png" sizes="32x32" type="image/png">
  <link rel="icon" href="/docs/5.1/assets/img/favicons/favicon-16x16.png" sizes="16x16" type="image/png">
  <link rel="manifest" href="/docs/5.1/assets/img/favicons/manifest.json">
  <link rel="mask-icon" href="/docs/5.1/assets/img/favicons/safari-pinned-tab.svg" color="#7952b3">
  <link rel="icon" href="/docs/5.1/assets/img/favicons/favicon.ico">
  <meta name="theme-color" content="#7952b3">

    {% block head %} {% endblock %}

<!------------ CUSTOM STYLES FOR THIS TEMPLATE ------------>
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}"> -->
    <link rel="stylesheet" href="static/css/main.css?v=1.1.25">
</head>

<!------------- START OF THE BODY & HEADER/NAVBAR ------------>
<body class="dark-theme">
  <div class="d-flex mx-auto flex-column min-vh-100 mw-full">

  <header class="navbar navbar-expand-lg navbar-dark bg-dark" aria-label="Ninth navbar example">
    <div class="container-xl">
        <a class="logo-link" href="/">
          <div class="logo float-md-start mb-0 navbar-brand text-muted">
            <span class="logo__mark">&gt;</span>
            <span class="logo__text">  /KalebHumpal/ $</span><span id="cd__text"></span>
            <span class="logo__cursor"></span>
          </div>
        </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarOptions" aria-controls="navbarOptions" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarOptions">
        <nav class="nav nav-masthead">
          <a class="nav-link {{ 'active' if active_page == 'home' else 'text-muted' }}" href="/">Home</a>
          <a class="nav-link {{ 'active' if active_page == 'about' else 'text-muted' }}" href="/about">About</a>
          <a class="nav-link {{ 'active' if active_page == 'blog' else 'text-muted' }}" href="/blog">Blog</a>
          <a class="nav-link {{ 'active' if active_page == 'contact' else 'text-muted' }}" href="/contact">Contact</a>
          <a class="nav-link {{ 'active' if active_page == 'projects' else 'text-muted' }}" href="/projects">Projects</a>
        </nav>
      </div>
    </div>
  </header>

<!--   <div class="container-xl mb-4">
    <p>Matching .container-xl...</p>
  </div> -->

    
<!------------ MAIN BLOCK OF THE BODY ------------>
    <main class="content flex-fill">
      {% block body %} {% endblock %}
    </main>

<!------------ START OF THE FOOTER ------------>
    <footer class="footer py-3 bg-dark">
      <ul class="nav justify-content-center border-bottom pb-3 mb-3">
        <li class="nav-item"><a href="/" class="nav-link px-2 text-muted">Home</a></li>
        <li class="nav-item"><a href="/about" class="nav-link px-2 text-muted">About</a></li>
        <li class="nav-item"><a href="/blog" class="nav-link px-2 text-muted">Blog</a></li>
        <li class="nav-item"><a href="/contact" class="nav-link px-2 text-muted">Contact</a></li>
        <li class="nav-item"><a href="/projects" class="nav-link px-2 text-muted">Projects</a></li>
      </ul>
      <p class="text-center text-muted">&copy; 2021 Made by <a href="https://github.com/kaleblub/kaleblub.github.io" class="text-muted">Kaleb Humpal</a> - Powered by <a href="#" class="text-muted">Flask</a></p>
    </footer>
  </div>

<!------------ JAVASCRIPT ------------>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
</body>
</html>