<!-- IN THE DESIRED BUTTON TO OPEN THE MODAL, PUT:""" data-toggle="modal" data-target="#modalContact" onclick="document.getElementById('modalContact').style.display='flex'   """ -->
	<div class="modal" tabindex="-1" role="dialog" id="modalContact" style="display: none;">
		<div class="modal__content rounded-5">
			<div class="section__header modal__content__header">
				<h1 class="section__header__title modal__content__header__title">Send Me A Message</h1>
				<div class="btn-container btn-container--contact">
					<button class="prompt-btn prompt-btn--contact" onclick="document.getElementById('modalContact').style.display='none'" type="button" data-bs-dismiss="modal" aria-label="Close"><i class="fas fa-times"></i></button>
				</div>
			</div>
			<div class="row justify-content-center">
				<div class="col-lg-10">
					<div class="row no-gutters">
						<div class="col-md-6 d-flex align-items-stretch">
							<div class="contact-wrap w-100 p-md-5 p-4 py-5">
								<h3 class="mb-4"></h3>
								<!-- <div id="form-message-warning" class="mb-4"></div>
								<div id="form-message-success" class="mb-4">Your message was sent, thank you!</div> -->
								


								<form method="POST" id="contact-form" name="contact-form" class="contact-form">
									<div class="form-group col-md-12">
										<input type="text" class="form-control" name="name" id="name" placeholder="Name">
                    <label for="" class="input__label">
                      <span class=""></span>
                    </label>
									</div>
									<div class="form-group col-md-12">
										<input type="email" class="form-control" name="email" id="email" placeholder="Email">
                    <label for="" class="input__label">
                      <span class=""></span>
                    </label>
									</div>
									<div class="form-group col-md-12">
										<input type="text" class="form-control" name="subject" id="subject" placeholder="Subject">
                    <label for="" class="input__label">
                      <span class=""></span>
                    </label>
									</div>
									<div class="form-group col-md-12">
										<textarea name="message" class="form-control" id="message" cols="30" rows="6" placeholder="Message"></textarea>
                    <label for="" class="input__label">
                      <span class=""></span>
                    </label>
									</div>
									<div class="form-group col-md-12">
										<div class="btn-container btn-container--contact">
											<button class="prompt-btn prompt-btn--contact" onclick="submit" type="submit">
												<span>
													Send Message
													<!-- <i class="fa fa-long-arrow-right m-l-7" aria-hidden="true"></i> -->
												</span>
											</button>
										</div>
										<!-- <div class="submitting"></div> -->
									</div>
								</form>
									</div>
								</div>
								<div class="col-md-6 d-flex align-items-stretch">
									<div class="info-wrap w-100 p-md-5 p-4 py-5">
										<h3>My Contact information</h3>
										<p class="mb-4">Message me if you have any suggestions or if you have a project you may want to collaborate on.</p>
										<div class="dbox w-100 d-flex align-items-start">
											<div class="icon d-flex align-items-center justify-content-center">
												<span class="fa fa-map-marker"></span>
											</div>
											<div class="text pl-3">
												<span>Current Location:</span> Beirut, Lebanon
											</div>
										</div>
										<div class="dbox w-100 d-flex align-items-center">
											<div class="icon d-flex align-items-center justify-content-center">
												<span class="fa fa-phone"></span>
											</div>
											<div class="text pl-3">
												<span>Phone/Whatsapp:</span> <a href="tel://+"></a>
											</div>
										</div>
										<div class="dbox w-100 d-flex align-items-center">
											<div class="icon d-flex align-items-center justify-content-center">
												<span class="fa fa-envelope"></span>
											</div>
											<div class="text pl-3">
												<span>Email:</span> <a href="/cdn-cgi/l/email-protection#a8c1c6cec7e8d1c7dddadbc1dccd86cbc7c5"><span class="__cf_email__" data-cfemail="d9b0b7bfb699a0b6acabaab0adbcf7bab6b4">[email&nbsp;protected]</span></a>
											</div>
										</div>
										<div class="dbox w-100 d-flex align-items-center">
											<div class="icon d-flex align-items-center justify-content-center">
												<span class="fa fa-globe"></span>
											</div>
											<div class="text pl-3">
												<span>Website</span> <a href="/">kaleblub.pythonanywhere.com</a>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>   
				</div>
			</div>