<footer class="footer py-3">
	<ul class="nav justify-content-center border-bottom pb-3 mb-3">
		<li class="nav-item"><a href="/" class="nav-link px-2 text-muted">Home</a></li>
		<li class="nav-item"><a href="/about" class="nav-link px-2 text-muted">About</a></li>
		<li class="nav-item"><a href="/blog" class="nav-link px-2 text-muted">Blog</a></li>
		<li class="nav-item"><a onclick="document.getElementById('modalContact').style.display='flex'" type="button" class="nav-link px-2 text-muted" data-toggle="modal" data-target="#modalContact">Contact</a></li>
		<li class="nav-item"><a href="/projects" class="nav-link px-2 text-muted">Projects</a></li>
	</ul>
	<p class="text-center text-muted">&copy; 2021 Made by <a href="https://github.com/kaleblub/kaleblub.github.io" class="text-muted">Kaleb Humpal</a> - Powered by <a href="https://flask.palletsprojects.com/en/2.0.x/#" class="text-muted">Flask</a></p>
</footer>