// Colors
$main-pink: #E8175D;
$secondary-pink: #CC527A;

$main-red: #dc3545;

$main-bg-dark-gray: #2c3033;
$hover-shadow-accent: #d7d5ff;

$nav-links: #6c757d;



$main-light-gray: #acabb1;

$main-gray: #474747;
$main-dark-gray: #363636;
// $hover-dark-gray: rgb(255, 255, 255, 0.25);


$--bs-dark-rgb: 33,37,41;

$secondary-light-gray: #a9a9b3;

