// Colors
$main-light-gray: #A8A7A8;
$main-light-pink: #CC527A;
$main-pink: #E8175D;
$main-gray: #474747;
$main-dark-gray: #363636;
// $hover-dark-gray: rgb(255, 255, 255, 0.25);
$main-bg-dark-gray: #212529f2;

$--bs-dark-rgb: 33,37,41;

$secondary-light-gray: #a9a9b3;

