/*============ Blog ============*/

.posts {
	margin: 20px auto;
    max-width: 800px;
    padding: 20px;
    text-align: left;
    width: 100%;


	// Maybe needs to be outside of the .posts tag
	.posts-group {
	    display: flex;
	    line-height: normal;
	    margin-bottom: 1.9em;
	}

	.post-year {
	    font-size: 1.6em;
	    margin-right: 1.8em;
	    opacity: .6;
	    padding-top: 6px;
	}

	.posts-list {
	    flex-grow: 1;
	    list-style: none;
	    margin: 0;
	    padding: 0;
	}

	.post-item {
    	border-bottom: 1px dashed grey;
    }

    a {
	    align-items: baseline;
	    display: flex;
	    justify-content: space-between;
	    padding: 12px 0;
	    text-decoration: none;
	}

	a:hover {
		color: $main-pink;
	}

	.post-title {
	    font-size: 1rem;
	    margin: 5px 0;
	}

	.post-day {
	    flex-shrink: 0;
	    margin-left: 1em;
	    opacity: .6;
	}
}