/*========== Home =============*/
.home-header {
	margin-bottom: 1rem;
}

.home-header-secondary {
	margin-bottom: 2rem;
}

.home-prompts {
	display: flex;
}

.prompt {
	flex: 1;
}

/* Home Option Cards */
#blog-thumbnail {
	background-image: url(../static/img/blog.png);
	background-size: cover;
	background-position-x: center;
}

#portfolio-thumbnail {
	background-image: url(../static/img/idea.png);
	background-size: cover;
	background-position-x: center;
}

#contact-thumbnail {
	background-image: url(../static/img/handshake.png);
	background-size: contain;
}

.home-row {
	max-width: 80em;
	display: flex;
  justify-content: space-evenly;

	.home-card {
    margin-top: 8em;
    margin-bottom: 2em;
    margin-right: 1em;
    margin-left: 1em;
    width: 33.33%;
    padding-right: 1.5em;
    padding-left: 1.5em;
    position: relative; // For the svg images to be able to grow

    .bd-placeholder-img {
	    position: absolute;
	    margin-top: -4rem;
 	  	margin-left: -4rem;
	    transition: all 1s;
    }

    .home-card-text {
    	margin: inherit;
    }

    .home-card-h2 {
			margin-top: 1em;
			color: ghostwhite;
		}

		&:hover {
			.bd-placeholder-img {
				width: 160px;
				height: 160px;
				margin-left: -4.75rem;			}
		}
	}
}

.container-home-prompt-btn {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: inherit;

	.home-prompt-btn {
    color: $main-bg-dark-gray;
    border-color: #6c757d;
    background: ghostwhite;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    min-width: 160px;
    height: 50px;
	  font-weight: 400;
		line-height: 1.5;
		text-align: center;
	  text-decoration: none;
	  vertical-align: middle;
		user-select: none;
		border: 1px solid transparent;
		font-size: 1rem;
		border-radius: .25rem;
		-webkit-transition: all .6s;
    -o-transition: all .6s;
    -moz-transition: all .6s;
    transition: all .6s;

    i {
	    -webkit-transition: all .4s;
	    -o-transition: all .4s;
	    -moz-transition: all .4s;
	    transition: all .4s;
		}
		&:hover {
	    color: ghostwhite;
	    background-color: #E8175D;
	    border-color: #E8175D;
	    box-shadow: 0rem 0rem 2rem $main-pink;
	    -moz-box-shadow: 0rem 0rem 2rem $main-pink;
	    -webkit-box-shadow: 0rem 0rem 2rem $main-pink;
	    -o-box-shadow: 0rem 0rem 2rem $main-pink;
	    -ms-box-shadow: 0rem 0rem 2rem $main-pink;

			i {
		    -webkit-transform: translateX(10px);
		    -moz-transform: translateX(10px);
		    -ms-transform: translateX(10px);
		    -o-transform: translateX(10px);
		    transform: translateX(10px);
			}
		}
	}
}

/* Responsive layout - makes the three columns stack 
on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .home-card {
    width: 100%;
  }
  .home-row {
  	flex-wrap: wrap;
  }
}