/*========== Home =============*/
.home-header {
	margin-bottom: 1rem;
}

.home-header-secondary {
	margin-bottom: 2rem;
}

.home-prompts {
	display: flex;
}

.prompt {
	flex: 1;
}

/* Home Option Cards */
#blog-thumbnail {
	background-image: url(../static/img/blog.png);
	background-size: cover;
	background-position-x: center;
}

#portfolio-thumbnail {
	background-image: url(../static/img/idea.png);
	background-size: cover;
	background-position-x: center;
}

#contact-thumbnail {
	background-image: url(../static/img/handshake.png);
	background-size: contain;
}

.home-row {
	max-width: 80em;
	display: flex;
    justify-content: space-evenly;

	.home-card {
	    margin-top: 8em;
	    margin-bottom: 2em;
	    margin-right: 1.5em;
	    margin-left: 1.5em;
	    width: 33.33%;

	    .home-card-h2 {
			margin-top: 1em;
			color: white;
		}

		.container-home-prompt-btn {
		    width: 100%;
		    display: -webkit-box;
		    display: -webkit-flex;
		    display: -moz-box;
		    display: -ms-flexbox;
		    display: flex;
		    flex-wrap: wrap;
		    margin-top: -25px;
		    justify-content: center;
		}

		.home-prompt-btn {
		    display: -webkit-box;
		    display: -webkit-flex;
		    display: -moz-box;
		    display: -ms-flexbox;
		    display: flex;
		    justify-content: center;
		    align-items: center;
		    padding: 0 20px;
		    min-width: 160px;
		    height: 50px;
		    background-color: #ff4b5a;
		    border-radius: 25px;
		    font-family: Poppins-Medium;
		    font-size: 16px;
		    color: #fff;
		    line-height: 1.2;
		    -webkit-transition: all .4s;
		    -o-transition: all .4s;
		    -moz-transition: all .4s;
		    transition: all .4s;
		    box-shadow: 0 10px 30px 0 rgb(255,75,90/50%);
		    -moz-box-shadow: 0 10px 30px 0 rgba(255,75,90,.5);
		    -webkit-box-shadow: 0 10px 30px 0 rgb(255,75,90/50%);
		    -o-box-shadow: 0 10px 30px 0 rgba(255,75,90,.5);
		    -ms-box-shadow: 0 10px 30px 0 rgba(255,75,90,.5);

		    i {
			    -webkit-transition: all .4s;
			    -o-transition: all .4s;
			    -moz-transition: all .4s;
			    transition: all .4s;
			}
		}

		.contact100-form-btn:hover {
		    background-color: #333;
		    box-shadow: 0 10px 30px 0 rgb(51,51,51/50%);
		    -moz-box-shadow: 0 10px 30px 0 rgba(51,51,51,.5);
		    -webkit-box-shadow: 0 10px 30px 0 rgb(51,51,51/50%);
		    -o-box-shadow: 0 10px 30px 0 rgba(51,51,51,.5);
		    -ms-box-shadow: 0 10px 30px 0 rgba(51,51,51,.5);
		
			i {
			    -webkit-transform: translateX(10px);
			    -moz-transform: translateX(10px);
			    -ms-transform: translateX(10px);
			    -o-transform: translateX(10px);
			    transform: translateX(10px);
			}

		}
	}	

	/* Responsive layout - makes the three columns stack 
	on top of each other instead of next to each other */
	@media screen and (max-width: 600px) {
	  .home-card {
	    width: 100%;
	  }
	  .home-row {
	  	flex-wrap: wrap;
	  }
	}
}
/*========== End Home =============*/