// Import other sass files
@import "custom-variables";
@import "navbar";
@import "home";
@import "projects";
@import "about";
@import "blog";
@import "contact";
@import "bootstrapOverwrite";
@import "footer";

html {
	position: block;
	min-height: 100%;
}

/*
 * Base structure
 */
 body {
	text-shadow: 0 .05rem .01rem rgba(0, 0, 0, .5);
  	box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
	text-align: center!important;
    display: flex;
	font-family: "Inter UI", -apple-system, BlinkMacSystemFont, "Roboto", "Segoe UI", Helvetica, Arial, sans-serif;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	font-feature-settings: "liga", "tnum", "case", "calt", "zero", "ss01", "locl";
	// color: $main-light-gray;/*#a9a9b3!important;*/
	// background-color: $main-dark-gray;
}

main {
	margin: auto;
}

h1 {
	font-size: 2.625rem;
	color: white;
}

h2 {
    font-size: 1.625rem;
}

a {
	color: inherit;
}

.container {
  max-width: 75em;
}

.br-40 {
  border-radius: 2em;
}

.fw-light {
	font-weight: 300!important;
}

.h-100 {
  height: 100%!important;
}

.mw-full {
	min-width: -webkit-fill-available;
}

.mt-auto {
  margin-top: auto!important; 
}

.mb-auto {
  margin-bottom: auto!important;
}

.pt-5 {
  padding-top: 3rem!important;
}

.pb-5 {
	padding-bottom: 3rem!important;
}

/*========= Dark Theme ==========*/
.dark-theme {
	background-color: $main-bg-dark-gray;
	color: $main-light-gray;
	// $--bs-bg-opacity: 1;

  .header {
  	background: #252627;
  }
}

.container {
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.content {
  display: flex;
  flex-direction: column;
  flex: 1 1 auto;
  align-items: center;
  justify-content: center;
  margin: 0;
}

.accent-color-shadow-hover {
  transition: all 1.2s;

  &:hover {
    box-shadow: 0em 0em 1em $hover-shadow-accent;
    border: none;
  }
}

/* Custom default button */
.btn-primary {
  color: #fff;
  background-color: $main-red;
  border-color: $main-red;
  box-shadow: 0rem 0rem 2rem $main-red !important;

  &:hover {
    color: #fff;
    background-color: $main-red;
    border-color: $main-red;
    box-shadow: 0rem 0rem 2rem $main-red !important;
  }

}

.btn-secondary {
  color: #fff;
  background-color: #6c757d;
  border-color: #6c757d;

  &:hover,
  &:focus {
    color: $main-bg-dark-gray;
    text-shadow: none; /* Prevent inheritance from `body` */
  }
}