/*========== Navbar =============*/
.nav-masthead {
  float: right;

  .nav-link {
    padding: .5rem .5rem;
    font-weight: 700;
    color: rgba(255, 255, 255, .5);
    background-color: transparent;
    border-bottom: .25rem solid transparent;
    display: block;
    text-decoration: none;
    transition: color 0.6s ease-in-out,background-color 0.6s ease-in-out,border-color .6s ease-in-out;
    
    &:hover,
    &:focus {
      color: rgba(255, 255, 255, .25)!important;
      border-bottom-color: rgba(255, 255, 255, .25);
      text-shadow: 0 0 3rem ghostwhite;
    }

    .nav-link + .nav-link {
      margin-left: 1rem;
    }

    .active {
      color: $main-pink;
      border-bottom-color: $main-pink;
      text-shadow: 0rem 0rem 3rem $main-pink
    }
  }

  .collapse nav.nav {
    float: right;
  }
}

.navbar-dark .navbar-brand {
    color: $main-light-gray;
}

header.navbar {
  padding: 20px;
  padding-top: .5rem;
  padding-bottom: .5rem;
}

// .header__inner {
//     display: flex;
//     align-items: center;
//     justify-content: space-between;
//     margin-left: 0 auto;
//     margin-right: 0 auto;
//     width: 760px;
//     max-width: 100%;
// }

#navbarOptions {
  display: block!important;
  justify-content: flex-end;
}

/*
 * Navbar Logo
 */
.logo {
  display: flex;
  align-items: center;
  text-decoration: none;
  font-weight: bold;
  font-display: auto;
  font-family: monospace, monospace;

  .logo__mark {
    margin-right: 5px;
  }
  .logo__text {
    font-size: 1.4rem;
  }

  .logo__cursor {
    display: inline-block;
    width: 10px;
    height: 1rem;
    background: $main-pink;
    margin-left: 5px;
    border-radius: 1px;
    -webkit-animation: cursor 1s infinite;
    animation: cursor 1s infinite;
  }
}

@keyframes cursor {
  0% {
    opacity: 0; }
  50% {
    opacity: 1; }
  100% {
    opacity: 0; } }