/*========== Projects =============*/
.project-card {
  // Individual Project Card
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #212529;
  background-clip: border-box;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: .25rem;
  transition: all .6s;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  background-size: contain;
}

.btn-outline-secondary {
  color: #6c757d;
  border-color: #6c757d;
  transition: all .6s;

  &:hover, &:active {
    color: #fff;
    background-color: $main-pink;
    border-color: $main-pink;
    box-shadow: 0rem 0rem 3rem $main-pink !important;
  }
}