@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');

@import url('https://fonts.googleapis.com/css2?family=Bungee+Hairline&display=swap');
// font-family: 'Bungee Hairline', cursive;

@import url('https://fonts.googleapis.com/css2?family=Nova+Flat&display=swap');
// font-family: 'Nova Flat', cursive;

@import url('https://fonts.googleapis.com/css2?family=Aldrich&family=Audiowide&family=Caesar+Dressing&family=Electrolize&family=Iceberg&family=Iceland&family=Libre+Barcode+39+Extended+Text&family=Libre+Barcode+39+Text&family=Major+Mono+Display&family=Megrim&family=Monoton&family=Odibee+Sans&family=Share+Tech+Mono&family=Syncopate:wght@400;700&family=Text+Me+One&family=Unica+One&family=Zen+Kurenaido&family=Zen+Tokyo+Zoo&display=swap');

// font-family: 'Aldrich', sans-serif;
// font-family: 'Audiowide', cursive;
// font-family: 'Caesar Dressing', cursive;
// font-family: 'Electrolize', sans-serif;
// font-family: 'Iceberg', cursive;
// font-family: 'Iceland', cursive;
// font-family: 'Libre Barcode 39 Extended Text', cursive;
// font-family: 'Libre Barcode 39 Text', cursive;
// font-family: 'Major Mono Display', monospace;
// font-family: 'Megrim', cursive;
// font-family: 'Monoton', cursive;
// font-family: 'Odibee Sans', cursive;
// font-family: 'Share Tech Mono', monospace;
// font-family: 'Syncopate', sans-serif;
// font-family: 'Text Me One', sans-serif;
// font-family: 'Unica One', cursive;
// font-family: 'Zen Kurenaido', sans-serif;
// font-family: 'Zen Tokyo Zoo', cursive;

@font-face {
	font-family: 'Modernhead';
	src: url('../fonts/modernhead.woff') format('woff');
}

@font-face {
	font-family: 'garet-book';
	src: url('../fonts/garet-book.woff') format('woff');
}

@font-face {
	font-family: 'ki-light-italic';
	src: url('../fonts/ki-light-italic.woff') format('woff');
}

@font-face {
	font-family: 'ki-light';
	src: url('../fonts/ki-light.woff') format('woff');
}

@font-face {
	font-family: 'Lato-Regular';
	src: url('../fonts/Lato-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Montserrat-Regular';
	src: url('../fonts/Montserrat-Regular.ttf') format('truetype');
}

@font-face {
	font-family: 'Nunito-Regular';
	src: url('../fonts/Nunito-Regular.ttf') format('truetype');
}