{% extends 'base.html' %}
{% set active_page = 'projects' %}

{% block head %}
<title>Past Projects – Kaleb Humpal</title>
<link rel="stylesheet" href="../../static/css/main.css?v=1.2.35">
{% endblock %}

{% block logoText %}/Projects/{% endblock %}

{% block body %}

<section id="projects" class="section section--odd">
	<div class="container-xl">
		<div class="section__header row col-lg-6 col-md-8 mx-auto">
			<h1 class="section__header__title">My Past Projects</h1>
			<p class="section__header__description">Here is a collection of the projects I have made over the years. You can sort the project categories with the buttons below. Follow my journey through some of these projects and many more to come in my <a href="/blog" class="px-2">blog<a/>.</p>
				<p>
					<a href="#" class="btn btn-primary my-2">All</a>
<!-- 				<a href="#" class="btn btn-secondary my-2">Python</a>
				<a href="#" class="btn btn-secondary my-2">C++</a>
				<a href="#" class="btn btn-secondary my-2">Bash</a>  -->
			</p>
		</div>

		<div class="container projects-album">
			<div class="row row--projects row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
				<div class="col">
					<div class="card card--projects accent-color-shadow-hover">
						<svg 
						class="card-img-top card--projects__image" 
						width="100%" 
						height="225" 
						xmlns="http://www.w3.org/2000/svg" 
						role="img" 
						aria-label="Placeholder: Thumbnail" 
						preserveAspectRatio="xMidYMid slice" 
						focusable="false" 
						style="background-image: url(../../static/img/tetris.png);">
						<title>Tribute Page</title>
						<rect width="100%" height="100%" fill="#00000040"/>
						<text x="50%" y="50%" fill="#eceeef" dy=".3em">Miyamoto Musashi Tribute Page</text>
					</svg>

					<div class="card__body">
						<p class="card__text">My Tribute Page project for freeCodeCamp, I chose to pay tribute to the greatest Samurai of all time, Miyamoto Musashi. I used simple HTML and CSS basics to craft the page.</p>
						<div class="d-flex justify-content-between align-items-center">
							<div class="btn-group">
								<a type="button" class="btn btn-sm btn-outline-secondary" title="Codepen" href="https://codepen.io/kaleblub/pen/poagKBW">View</a>
								<a type="button" class="btn btn-sm btn-outline-secondary" title="View Demo" href="https://codepen.io/kaleblub/full/poagKBW">Demo</a>
								<a type="button" class="btn btn-sm btn-outline-secondary" title="Download" href="https://github.com/kaleblub/pygame-tetris/archive/refs/heads/master.zip">
									<i class="fa fa-download"></i>
								</a>
							</div>
							<small class="text-muted">HTML/CSS</small>
						</div>
					</div>
				</div>
			</div>
								<div class="col">
					<div class="card card--projects accent-color-shadow-hover">
						<svg 
						class="card-img-top card--projects__image" 
						width="100%" 
						height="225" 
						xmlns="http://www.w3.org/2000/svg" 
						role="img" 
						aria-label="Placeholder: Thumbnail" 
						preserveAspectRatio="xMidYMid slice" 
						focusable="false" 
						style="background-image: url(../../static/img/tetris.png);">
						<title>Survey Form</title>
						<rect width="100%" height="100%" fill="#00000040"/>
						<text x="50%" y="50%" fill="#eceeef" dy=".3em">Satisfaction Survey Form</text>
					</svg>

					<div class="card__body">
						<p class="card__text">My Survey Form Project for freeCodeCamp. I built a basic satisfaction survey, in which I used HTML and CSS to craft the page.</p>
						<div class="d-flex justify-content-between align-items-center">
							<div class="btn-group">
								<a type="button" class="btn btn-sm btn-outline-secondary" title="Codepen" href="https://codepen.io/kaleblub/pen/MWQKXRQ">View</a>
								<a type="button" class="btn btn-sm btn-outline-secondary" title="View Demo" href="https://codepen.io/kaleblub/full/MWQKXRQ">Demo</a>
								<a type="button" class="btn btn-sm btn-outline-secondary" title="Download" href="#">
									<i class="fa fa-download"></i>
								</a>
							</div>
							<small class="text-muted">HTML/CSS</small>
						</div>
					</div>
				</div>
			</div>
				<div class="col">
					<div class="card card--projects accent-color-shadow-hover">
						<svg 
						class="card-img-top card--projects__image" 
						width="100%" 
						height="225" 
						xmlns="http://www.w3.org/2000/svg" 
						role="img" 
						aria-label="Placeholder: Thumbnail" 
						preserveAspectRatio="xMidYMid slice" 
						focusable="false" 
						style="background-image: url(../../static/img/tetris.png);">
						<title>Tetris</title>
						<rect width="100%" height="100%" fill="#00000040"/>
						<text x="50%" y="50%" fill="#eceeef" dy=".3em">Pygame-Tetris</text>
					</svg>

					<div class="card__body">
						<p class="card__text">Pygame version of the classic game Tetris. In this project, I crafted a fully functional menu, highscore, controls, and gameover screens. I also made a highscore system with pickle.</p>
						<div class="d-flex justify-content-between align-items-center">
							<div class="btn-group">
								<a type="button" class="btn btn-sm btn-outline-secondary" title="Github" href="https://github.com/kaleblub/pygame-tetris">View</a>
								<a type="button" class="btn btn-sm btn-outline-secondary" title="View Demo">Demo</a>
								<a type="button" class="btn btn-sm btn-outline-secondary" title="Download" href="https://github.com/kaleblub/pygame-tetris/archive/refs/heads/master.zip">
									<i class="fa fa-download"></i>
								</a>
							</div>
							<small class="text-muted">Python</small>
						</div>
					</div>
				</div>
			</div>

			<div class="col">
				<div class="card card--projects accent-color-shadow-hover">
					<svg 
					class="card--projects__image card-img-top" 
					width="100%" 
					height="225" 
					xmlns="http://www.w3.org/2000/svg" 
					role="img" 
					aria-label="Placeholder: Thumbnail" 
					preserveAspectRatio="xMidYMid slice" 
					focusable="false">
					<title>Freerice-Bot</title>
					<rect width="100%" height="100%" fill="#00000040"/>
					<text x="50%" y="50%" fill="#eceeef" dy=".3em">Freerice-Bot</text>
				</svg>

				<div class="card__body">
					<p class="card__text">A python web-scraping bot to play quiz games on the website www.freerice.com and donate rice automatically. It is made with Python's Selenium and has modules for vocabulary, basic multiplication, etc.</p>
					<div class="d-flex justify-content-between align-items-center">
						<div class="btn-group">
							<a type="button" class="btn btn-sm btn-outline-secondary" title="Github" href="https://github.com/kaleblub/python-freerice-bot">View</a>
							<a type="button" class="btn btn-sm btn-outline-secondary" title="View Demo">Demo</a>
							<a type="button" class="btn btn-sm btn-outline-secondary" title="Download" href="https://github.com/kaleblub/python-freerice-bot/archive/refs/heads/main.zip">
								<i class="fa fa-download"></i>
							</a>
						</div>
						<small class="text-muted">Python</small>
					</div>
				</div>
			</div>
		</div>

		<div class="col">
			<div class="card card--projects accent-color-shadow-hover">
				<svg 
				class="card--projects__image card-img-top" 
				width="100%" 
				height="225" 
				xmlns="http://www.w3.org/2000/svg" 
				role="img" 
				aria-label="Placeholder: Thumbnail" 
				preserveAspectRatio="xMidYMid slice" 
				focusable="false">
				<title>Flask-Portfolio</title>
				<rect width="100%" height="100%" fill="#00000040"/>
				<text x="50%" y="50%" fill="#eceeef" dy=".3em">Flask-Portfolio</text>
			</svg>

			<div class="card__body">
				<p class="card__text">This is my personal project of building my own Flask portfolio website. I have an about me page, a blog, my portfolio page showing my projects and a contact modal.</p>
				<div class="d-flex justify-content-between align-items-center">
					<div class="btn-group">
						<a type="button" class="btn btn-sm btn-outline-secondary" title="Github" href="https://github.com/kaleblub/flask-portfolio">View</a>
						<a type="button" class="btn btn-sm btn-outline-secondary" title="View Demo">Demo</a>
						<a type="button" class="btn btn-sm btn-outline-secondary" title="Download" href="https://github.com/kaleblub/flask-portfolio/archive/refs/heads/master.zip">
							<i class="fa fa-download"></i>
						</a>
					</div>
					<small class="text-muted">Python</small>
				</div>
			</div>
		</div>
	</div>

	<!-- <div class="col">
		<div class="card card--projects accent-color-shadow-hover">
			<svg 
			class="card--projects__image card-img-top" 
			width="100%" 
			height="225" 
			xmlns="http://www.w3.org/2000/svg" 
			role="img" 
			aria-label="Placeholder: Thumbnail" 
			preserveAspectRatio="xMidYMid slice" 
			focusable="false">
			<title>Space-Invaders</title>
			<rect width="100%" height="100%" fill="#00000040"/>
			<text x="50%" y="50%" fill="#eceeef" dy=".3em">Pygame-Space-Invaders</text>
		</svg>

		<div class="card__body">
			<p class="card__text">Space Invaders made with python's Pygame library.</p>
			<div class="d-flex justify-content-between align-items-center">
				<div class="btn-group">
					<a type="button" class="btn btn-sm btn-outline-secondary" title="Github" href="https://github.com/kaleblub/pygame-yahtzee">View</a>
					<a type="button" class="btn btn-sm btn-outline-secondary" title="View Demo">Demo</a>
					<a type="button" class="btn btn-sm btn-outline-secondary" title="Download" href="https://github.com/kaleblub/pygame-yahtzee/archive/refs/heads/main.zip">
						<i class="fa fa-download"></i>
					</a>
				</div>
				<small class="text-muted">Python</small>
			</div>
		</div>
	</div>
</div> -->
<div class="col">
	<div class="card card--projects accent-color-shadow-hover">
		<svg 
		class="card--projects__image card-img-top" 
		width="100%" 
		height="225" 
		xmlns="http://www.w3.org/2000/svg" 
		role="img" 
		aria-label="Placeholder: Thumbnail" 
		preserveAspectRatio="xMidYMid slice" 
		focusable="false"
		style="background-image: url(../../static/img/pong.png);">
		<title>Pong</title>
		<rect width="100%" height="100%" fill="#00000040"/>
		<text x="50%" y="50%" fill="#eceeef" dy=".3em">Pygame-Pong</text>
	</svg>

	<div class="card__body">
		<p class="card__text">Basic Pong clone made with Pygame.</p>
		<div class="d-flex justify-content-between align-items-center">
			<div class="btn-group">
				<a type="button" class="btn btn-sm btn-outline-secondary" title="Github" href="#">View</a>
				<a type="button" class="btn btn-sm btn-outline-secondary" title="View Demo">Demo</a>
				<a type="button" class="btn btn-sm btn-outline-secondary" title="Download" href="#">
					<i class="fa fa-download"></i>
				</a>
			</div>
			<small class="text-muted">Python</small>
		</div>
	</div>
</div>
</div>

<div class="col">
	<div class="card card--projects accent-color-shadow-hover">
		<svg 
		class="card--projects__image card-img-top" 
		width="100%" 
		height="225" 
		xmlns="http://www.w3.org/2000/svg" 
		role="img" 
		aria-label="Placeholder: Thumbnail" 
		preserveAspectRatio="xMidYMid slice" 
		focusable="false"
		style="background-image: url(../../static/img/TicTacToe.png);">
		<title>TicTacToe</title>
		<rect width="100%" height="100%" fill="#00000040"/>
		<text x="50%" y="50%" fill="#eceeef" dy=".3em">Pygame-TicTacToe</text>
	</svg>

	<div class="card__body">
		<p class="card__text">This is my first Pygame project, a simple rendition of TicTacToe with python.</p>
		<div class="d-flex justify-content-between align-items-center">
			<div class="btn-group">
				<a type="button" class="btn btn-sm btn-outline-secondary" title="Github" href="https://github.com/kaleblub/pygame-tictactoe">View</a>
				<a type="button" class="btn btn-sm btn-outline-secondary" title="View Demo">Demo</a>
				<a type="button" class="btn btn-sm btn-outline-secondary" title="Download" href="https://github.com/kaleblub/pygame-tictactoe/archive/refs/heads/master.zip">
					<i class="fa fa-download"></i>
				</a>
			</div>
			<small class="text-muted">Python</small>
		</div>
	</div>
</div>
</div>
</section>

<!-- Testimonials Here -->

{% endblock %}