{% extends 'base.html' %}
{% set active_page = 'projects' %}

{% block head %}
<title>Past Projects – Kaleb Humpal</title>
<link rel="stylesheet" href="../../static/css/main.css?v=1.2.15">
{% endblock %}


{% block body %}
  <!-- <header>
  <div class="collapse bg-dark" id="navbarHeader">
    <div class="container">
      <div class="row">
        <div class="col-sm-8 col-md-7 py-4">
          <h4 class="text-white">About</h4>
          <p class="text-muted">Add some information about the album below, the author, or any other background context. Make it a few sentences long so folks can pick up some informative tidbits. Then, link them off to some social networking sites or contact information.</p>
        </div>
        <div class="col-sm-4 offset-md-1 py-4">
          <h4 class="text-white">Contact</h4>
          <ul class="list-unstyled">
            <li><a href="#" class="text-white">Follow on Twitter</a></li>
            <li><a href="#" class="text-white">Like on Facebook</a></li>
            <li><a href="#" class="text-white">Email me</a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="navbar navbar-dark bg-dark accent-color-shadow-hover">
    <div class="container">
      <a href="#" class="navbar-brand d-flex align-items-center">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" aria-hidden="true" class="me-2" viewBox="0 0 24 24"><path d="M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z"/><circle cx="12" cy="13" r="4"/></svg>
        <strong>Album</strong>
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
  </div>
</header> -->

<section class="">
	<div class="row py-lg-5">
		<div class="col-lg-6 col-md-8 mx-auto">
			<h1 class="fw-light">My Past Projects</h1>
			<p class="lead text-muted">Here is a collection of the projects I have made over the years. You can sort the project categories with the buttons below. Follow my journey through some of these projects and many more to come in my <a href="/blog" class="px-2 text-muted">blog<a/>.</p>
				<p>
					<a href="#" class="btn btn-primary my-2">All</a>
					<a href="#" class="btn btn-secondary my-2">Python</a>
					<a href="#" class="btn btn-secondary my-2">C++</a>
					<a href="#" class="btn btn-secondary my-2">Bash</a> 
				</p>
			</div>
		</div>
	</section>

	<div class="container projects-album">
		<div class="row row--projects row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
			<div class="col">
				<div class="card card--projects accent-color-shadow-hover">
					<svg 
					class="card-img-top card--projects__image" 
					width="100%" 
					height="225" 
					xmlns="http://www.w3.org/2000/svg" 
					role="img" 
					aria-label="Placeholder: Thumbnail" 
					preserveAspectRatio="xMidYMid slice" 
					focusable="false" 
					style="background-image: url(../../static/img/tetris.png);">
					<title>Tetris</title>
					<text x="50%" y="50%" fill="#eceeef" dy=".3em">Pygame-Tetris</text>
				</svg>

				<div class="card__body">
					<p class="card__text">Pygame version of the classic game Tetris. In this project, I crafted a fully functional menu, highscore, controls, and gameover screens. I also made a highscore system with pickle.</p>
					<div class="d-flex justify-content-between align-items-center">
						<div class="btn-group">
							<a type="button" class="btn btn-sm btn-outline-secondary" title="Github" href="https://github.com/kaleblub/pygame-tetris">View</a>
							<a type="button" class="btn btn-sm btn-outline-secondary" title="View Demo">Demo</a>
							<a type="button" class="btn btn-sm btn-outline-secondary" title="Download" href="https://github.com/kaleblub/pygame-tetris/archive/refs/heads/master.zip">
								<i class="fa fa-download"></i>
							</a>
						</div>
						<small class="text-muted">Python</small>
					</div>
				</div>
			</div>
		</div>

		<div class="col">
			<div class="card card--projects accent-color-shadow-hover">
				<svg 
				class="card--projects__image card-img-top" 
				width="100%" 
				height="225" 
				xmlns="http://www.w3.org/2000/svg" 
				role="img" 
				aria-label="Placeholder: Thumbnail" 
				preserveAspectRatio="xMidYMid slice" 
				focusable="false">
				<title>Freerice-Bot</title>
				<rect width="100%" height="100%" fill="#6c757d"/>
				<text x="50%" y="50%" fill="#eceeef" dy=".3em">Freerice-Bot</text>
			</svg>

			<div class="card__body">
				<p class="card__text">A python web-scraping bot to play quiz games on the website www.freerice.com and donate rice automatically. It is made with Python's Selenium and has modules for vocabulary, basic multiplication, etc.</p>
				<div class="d-flex justify-content-between align-items-center">
					<div class="btn-group">
						<a type="button" class="btn btn-sm btn-outline-secondary" title="Github" href="https://github.com/kaleblub/python-freerice-bot">View</a>
						<a type="button" class="btn btn-sm btn-outline-secondary" title="View Demo">Demo</a>
						<a type="button" class="btn btn-sm btn-outline-secondary" title="Download" href="https://github.com/kaleblub/python-freerice-bot/archive/refs/heads/main.zip">
							<i class="fa fa-download"></i>
						</a>
					</div>
					<small class="text-muted">Python</small>
				</div>
			</div>
		</div>
	</div>

	<div class="col">
		<div class="card card--projects accent-color-shadow-hover">
			<svg 
			class="card--projects__image card-img-top" 
			width="100%" 
			height="225" 
			xmlns="http://www.w3.org/2000/svg" 
			role="img" 
			aria-label="Placeholder: Thumbnail" 
			preserveAspectRatio="xMidYMid slice" 
			focusable="false">
			<title>Flask-Portfolio</title>
			<rect width="100%" height="100%" fill="#6c757d"/>
			<text x="50%" y="50%" fill="#eceeef" dy=".3em">Flask-Portfolio</text>
		</svg>

		<div class="card__body">
			<p class="card__text">This is my personal project of building my own Flask portfolio website. I have an about me page, a blog, my portfolio page showing my projects and a contact modal. </p>
			<div class="d-flex justify-content-between align-items-center">
				<div class="btn-group">
					<a type="button" class="btn btn-sm btn-outline-secondary" title="Github" href="https://github.com/kaleblub/flask-portfolio">View</a>
					<a type="button" class="btn btn-sm btn-outline-secondary" title="View Demo">Demo</a>
					<a type="button" class="btn btn-sm btn-outline-secondary" title="Download" href="https://github.com/kaleblub/flask-portfolio/archive/refs/heads/master.zip">
						<i class="fa fa-download"></i>
					</a>
				</div>
				<small class="text-muted">Python</small>
			</div>
		</div>
	</div>
</div>

<div class="col">
	<div class="card card--projects accent-color-shadow-hover">
		<svg 
		class="card--projects__image card-img-top" 
		width="100%" 
		height="225" 
		xmlns="http://www.w3.org/2000/svg" 
		role="img" 
		aria-label="Placeholder: Thumbnail" 
		preserveAspectRatio="xMidYMid slice" 
		focusable="false">
		<title>Space-Invaders</title>
		<rect width="100%" height="100%" fill="#6c757d"/>
		<text x="50%" y="50%" fill="#eceeef" dy=".3em">Pygame-Space-Invaders</text>
	</svg>

	<div class="card__body">
		<p class="card__text">Space Invaders made with python's Pygame library.</p>
		<div class="d-flex justify-content-between align-items-center">
			<div class="btn-group">
				<a type="button" class="btn btn-sm btn-outline-secondary" title="Github" href="https://github.com/kaleblub/pygame-yahtzee">View</a>
				<a type="button" class="btn btn-sm btn-outline-secondary" title="View Demo">Demo</a>
				<a type="button" class="btn btn-sm btn-outline-secondary" title="Download" href="https://github.com/kaleblub/pygame-yahtzee/archive/refs/heads/main.zip">
					<i class="fa fa-download"></i>
				</a>
			</div>
			<small class="text-muted">Python</small>
		</div>
	</div>
</div>
</div>
<div class="col">
	<div class="card card--projects accent-color-shadow-hover">
		<svg 
		class="card--projects__image card-img-top" 
		width="100%" 
		height="225" 
		xmlns="http://www.w3.org/2000/svg" 
		role="img" 
		aria-label="Placeholder: Thumbnail" 
		preserveAspectRatio="xMidYMid slice" 
		focusable="false"
		style="background-image: url(../../static/img/pong.png);">
		<title>Pong</title>
		<!-- <rect width="100%" height="100%" fill="#6c757d"/> -->
		<text x="50%" y="50%" fill="#eceeef" dy=".3em">Pygame-Pong</text>
	</svg>

	<div class="card__body">
		<p class="card__text">Basic Pong clone made with Pygame.</p>
		<div class="d-flex justify-content-between align-items-center">
			<div class="btn-group">
				<a type="button" class="btn btn-sm btn-outline-secondary" title="Github" href="https://github.com/kaleblub/pygame-space-invaders">View</a>
				<a type="button" class="btn btn-sm btn-outline-secondary" title="View Demo">Demo</a>
				<a type="button" class="btn btn-sm btn-outline-secondary" title="Download" href="https://github.com/kaleblub/pygame-space-invaders/archive/refs/heads/main.zip">
					<i class="fa fa-download"></i>
				</a>
			</div>
			<small class="text-muted">Python</small>
		</div>
	</div>
</div>
</div>

<div class="col">
	<div class="card card--projects accent-color-shadow-hover">
		<svg 
		class="card--projects__image card-img-top" 
		width="100%" 
		height="225" 
		xmlns="http://www.w3.org/2000/svg" 
		role="img" 
		aria-label="Placeholder: Thumbnail" 
		preserveAspectRatio="xMidYMid slice" 
		focusable="false"
		style="background-image: url(../../static/img/TicTacToe.png);">
		<title>TicTacToe</title>
		<!-- <rect width="100%" height="100%" fill="#6c757d"/> -->
		<text x="50%" y="50%" fill="#eceeef" dy=".3em">Pygame-TicTacToe</text>
	</svg>

	<div class="card__body">
		<p class="card__text">This is my first Pygame project, a simple rendition of TicTacToe with python.</p>
		<div class="d-flex justify-content-between align-items-center">
			<div class="btn-group">
				<a type="button" class="btn btn-sm btn-outline-secondary" title="Github" href="https://github.com/kaleblub/pygame-tictactoe">View</a>
				<a type="button" class="btn btn-sm btn-outline-secondary" title="View Demo">Demo</a>
				<a type="button" class="btn btn-sm btn-outline-secondary" title="Download" href="https://github.com/kaleblub/pygame-tictactoe/archive/refs/heads/master.zip">
					<i class="fa fa-download"></i>
				</a>
			</div>
			<small class="text-muted">Python</small>
		</div>
	</div>
</div>
</div>
</div>
</div>

<!-- Testimonials Here -->

{% endblock %}